@media only screen and (max-width:450px){
    /* main{
        position: relative;
    } */
    body{
        position: relative;
    }
    header{
        padding: 0 40px;
        justify-content: space-between;
        position:static;
    }
    .nav-part1 h1{
        margin-right: 200px;
    }
    .nav-part2{
        display: none;
    }
    .nav-sub-part1{
        text-align: center;
        margin-top: 30px;
        width: auto;
        flex-direction: column;

    }
    .nav-sub-part1 a{
        margin-right: 0;
        font-weight: 500;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }
    .nav-sub-part2{
        margin-left: 10px;
        flex: none;
    }
    .profile{
        font-size: 2rem;
    }
    #signinrow{
        width: 100px;
        flex-direction: column;
        height: 80px;
        text-align: center;
    }
    .signIn{
        display: block;
        background-color: rgb(16, 104, 238);
        width: 90%;

        text-align: center;
        padding: 3px 13px;
        margin: 2px 3px;
        font-weight: 500;
        border-radius: 20px;
        font-size: 1rem;
    }
    .cart{
        margin: 0;
    }
    .nav-part3 {

        z-index: 1111;
        position: fixed;
        display: none;
        color: white;
        justify-content: center;
        gap: 15px;
        height:100%;
        width:100px;
        /* z-index: -1; */
        right: 0;
        margin-top: 0;
        top:0;
        background-color: #020e20;
        /* background-color: red; */
        flex-direction: column;
        /* position: absolute; */


    }
    .displayNavItems{
        display: flex;
    }
    .dontdisplayNavItems{
        display: none;
    }
    .menu-contain{
        display: block;
    }
    .cart{
        position: absolute;
        top: 20px;
        right: 20%;

    }
    .menu{
        /* z-index: 1111; */
        top: 19px;
        right: 2%;
        position: absolute;
        padding-right: 20px;
        font-size: 1.7rem;
        /* margin-right: 10px; */
        margin-left: 20px;
        display: block;
    }
    .menu-contain i{
        /* font-weight: 400; */
        font-size: 1.7rem;
        position: absolute;
        top: 20px;
        right: 40px;

    }
    /* cards */
    #cards_container{
        position: relative;
        padding: 10px;
        /* background-color: lightcoral; */
        width: 100%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .card {
        position: relative;
        margin: 10px;
        width: 150px;
        max-height: 550px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        transition: transform 0.3s ease;
    }
    .heading1 h1{
        color: #005fc5;
        /* text-decoration: underline; */
        font-weight: light;
        /* padding-bottom: 5px; */
        line-height: 30px;
        text-align: center;
        font-size: 1.5rem;
        margin: 5% 10% 0 10%;
    }
    .card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9rem;
        margin: 0;
        color: #333;
    }

    .card-subtitle {
        font-size: 0.8rem;
        color: #777;
        /* margin: 8px 0; */
    }

    .card-text {
        font-size: 0.8rem;
        /* margin: 8px 0; */
    }

    .card-text strong {
        font-size: 0.9rem;
        color: #555;
    }

    .price {
        font-size: 1rem;
        color: #e91e63;
        /* margin: 8px 0; */
        margin-top: 10px;
    }

    .rating {
        font-size: 0.8rem;
        margin: 2px 0;
        color: #ff8707;
    }

    .reviews {
        font-size: 0.8rem;
        color: #888;
    }

    .categories {
        margin-top: 4px;
        color: #007bff;
    }

    .categories span {
        font-size: 0.8rem;
        background-color: #52a0e034;
        padding: 4px 8px;
        margin-right: 4px;
        border-radius: 4px;
    }
}
