@media only screen and (max-width:450px){
    body{
        position: relative;
    }
    .nav-part1 h1{
        margin-right: 200px;
    }
    .nav-part2{
        display: none;
    }
    .nav-sub-part1{
        text-align: center;

        width: auto;
        flex-direction: column;

    }
    .nav-sub-part1 a{
        color: white;
        margin-bottom: 20px;
    }
    .nav-sub-part2{
        margin-left: 10px;
        flex: none;
    }
    .cart{
        margin: 0;
    }
    .nav-part3 {
        position: fixed;
        display: none;
        color: white;
        justify-content: center;
        gap: 15px;
        height:100%;
        width: 80px;
        z-index: 110;
        right: 0;
        margin-top: 60px;
        top:0;
        background-color: rgba(0, 0, 0, 0.868);
        /* background-color: red; */
        flex-direction: column;
        /* position: absolute; */


    }
    .displayNavItems{
        display: flex;
    }
    .menu-contain{
        display: block;
    }
    .cart{
        position: fixed;
        top: 20px;
        right: 20%;

    }
    .menu{
        top: 20px;
        right: 2%;
        position: fixed;
        padding-right: 20px;
        font-size: 1.5rem;
        /* margin-right: 10px; */
        margin-left: 20px;
        display: block;
    }
}